APP_NAME=HH SaaS Backend
APP_ENV=development
APP_BASE_URL=http://localhost:8000
APP_SECRET_KEY=change-me-in-production

HH_CLIENT_ID=T9S96FQBNIQ9HQ7BOGOICCARVKK0KR7BKOD3RQGUJ85CQJ9HPF4TTMCA6FITGUBS
HH_CLIENT_SECRET=HMN31U3O4ATVGOLCMCF61SC3RL9AF8MPIQGR4773C3GG2RCNQRERM32LKNBFB1BE
HH_REDIRECT_URI=http://localhost:8000/api/auth/hh/callback

FRONTEND_APP_URL=https://sok-app.onrender.com
CORS_ORIGINS=http://localhost:5173,https://sok-app.onrender.com
COOKIE_SECURE=true
COOKIE_SAMESITE=none
